<!DOCTYPE html>

<html>
    <head>
        <title>Create New Account</title>
        <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    </head>
    <body>
        <header>
            {{ nav|safe }}
        </header>
        <main>
            <div class="section center">
                <h1>Connect to {{robot}}</h1>
                <p id="control">Press the button below to connect your account to the robot.</p>
                <button id="connect" onclick="connect()">Connect</button>
            </div>
        </main>
        <script>
            const connect = () => {
                if (auth === false) {
                    alert("Please create an account or log in before connecting to a robot.");
                    return
                }
            };
        </script>
    </body>
</html>