<!DOCTYPE html>

<html>

    <head>
        <title>587 Jam Mapping with Robots</title>
        <link rel="shortcut icon" href="{{ url_for('static', path='/favicon.ico') }}">
        <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
        <style>
        </style>
    </head>

    <body>
        <!-- NAV Section -->
        <header>
            {{ nav|safe }}
        </header>
        <main>
            <div class="section">
                <h1>CSCI 587</h1>
                <p>Description will go here.</p>
            </div>
            <div class="split">
                <div class="section center">
                    <h1>Users</h1>
                    <div class="labels">
                        {% for user in users %}
                            <div class="label">{{user}}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="section center">
                    <h1>Connected Robots</h1>
                    <div class="labels">
                    {% for robot in robots %}
                        <div class="label">{{robot[1]}}</div>
                    {% endfor %}
                </div>
                </div>
            </div>
        </main>
    </body>

</html>