<!DOCTYPE html>

<html>

<head>
    <title>587 Jam: Robot Selection</title>
    <link rel="shortcut icon" href="{{ url_for('static', path='/favicon.ico') }}">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>

<body>
    <header>
        {{ nav|safe }}
    </header>
    <main>
        <div class="section center">
            <h1>Robots</h1>
            <p>Select a robot from the list to take control.</p>
            <div class="robots">
                {% for robot in robots %}
                    {% if robot[0] in available %}
                        <a href="/robot-control/id/{{robot[0]}}/alias/{{robot[1]}}">
                            <div class="robot available">
                                {{ robot[1] }}
                            </div>
                        </a>
                    {% else %}
                        {% if robot[0] in active %}
                            <a href="/robot-control/id/{{robot[0]}}/alias/{{robot[1]}}">
                                <div class="robot active">
                                    {{ robot[1] }}
                                </div>
                            </a>
                        {% else %}
                            <div class="robot inactive">
                                {{ robot[1] }}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </main>
</body>

</html>