<!DOCTYPE html>

<html>
    <head>
        <title>Create New Account</title>
        <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    </head>
    <body>
        <header>
            {{ nav|safe }}
        </header>
        <main>
            <div class="section center">
                <h1>Create Account</h1>
                <p>In order to control a robot, you must first register an account. We do this to prevent multiple users from controlling the same robot at the same time.</p>
            </div>
        </main>
    </body>
</html>